[tool.poetry]
name = "lyngdorf"
version = "0.1.1"
description = "Library to control a Lyngdorf A/V processor"
authors = ["Alex Fishlock <alex.fishlock@racingjag.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
black = "^23.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
